body{
    background-color: rgb(132, 175, 204);
}
h1 {
    color: rgb(0, 24, 46);
}

button#draw {
    width: 100px;
    height: 40px
}

button#reset {
    width: 100px;
    height: 40px
}
h2.scoreBoard {
    color: rgb(8, 20, 85);
    font-size: 40px;
    flex-wrap: wrap;
}

h2.playerScoreBoard {
    color: white
}

h2.computerScoreBoard {
    color: white;
}
