


body{
    background: url(../Images/Hogwarts3.jpg) no-repeat fixed; 
    background-position-x: center;
    background-size: cover
    /* This is a random comment. */
}
h1 {
    color: goldenrod;
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-family:'Harry Potter', sans-serif;
    font-stretch: extra-expanded;
}

div.buttons {
    display: inline;
    align-items: center;
    position: fixed;
    top: 65%;
    left: 43%;
}
button#draw {
    width: 100px;
    height: 40px
    position: fixed;
}
button#reset {
    width: 100px;
    height: 40px
    position: fixed;
}

div.gridContainer {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 50px 80px 80px;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-area: main;
    
}
div.scoreBoard {
    color: rgb(206, 226, 132);
    display: grid;
    font-size: 40px;
    grid-row: 1;
    grid-column: 1 / span 2;
    background-color: rgba(15, 29, 51, 0.507); 
    text-align: center;
    font-family: 'Papyrus';
    font-weight: bold;
}

h2#playerScoreBoard {
    color: rgb(106, 238, 227);
    grid-column: 1;
    grid-row: 2;
    font-size: 50px;
    text-align: center;
    background-color: rgba(15, 29, 51, 0.507); 
    font-family: 'Papyrus';
    font-weight: bold;
}

h2#PlayerScore {
    color: rgb(170, 241, 148);
    font-size: 30px;
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    background-color: rgba(15, 29, 51, 0.507); 
    font-family: 'Papyrus';
    font-weight: bold;
}

h2#computerScoreBoard {
    color: rgb(106, 238, 227);
    grid-column: 2;
    grid-row: 2;
    font-size: 50px;
    text-align: center;
    background-color: rgba(15, 29, 51, 0.507); 
    font-family: 'Papyrus';
    font-weight: bold;
}

h2#ComputerScore {
    color: rgb(170, 241, 148);
    font-size: 30px;;
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    background-color: rgba(15, 29, 51, 0.507); 
    font-family: 'Papyrus';
    font-weight: bold;
}

div.cardsCollection {
    font-size: 30px;
    font-family: 'Papyrus';
    position: fixed;
    top: 60%;
    left:5%;
}

div#box {
    display: grid;
    height: 190px;
    grid-template-columns: 6% 15% 15% 6%;
    grid-template-rows: 170px 30px;
    gap: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-items: center;
}

div#set-of-cards {
    display:contents;
    
}

div#drawnCards {
    display: flex;
    align-self: center;
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 6;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 36em;
    justify-items: center;
    position: sticky;
}
div#player{
    color: rgb(155, 245, 240);
    font-size: 25px;
}
div#computer {
    color: rgb(155, 245, 240);
    font-size: 25px;
}

div.sevenhorcruxes {
    color: rgb(209, 200, 150);
    display: grid;
    grid-row: 1;
    grid-template-columns: 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    grid-area: auto;
    margin-top: 55px;
}

audio {
    position: fixed;
    top: 90%;
    left: 82%;
}
button#resetCardCollection {
    width: 200px;
    height: 40px;
    position: fixed;
    top: 95%;
    left:5%;
}